<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.wifi.info"
        version="0.7.0">

  <name>Wifi Info</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/WifiInfo.js" target="js/WifiInfo.js"/>

  <js-module src="www/WifiInfo.js" name="wifi-info">
    <clobbers target="wifi-info" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="WifiInfo">
        <param name="android-package" value="com.plugin.plugin.WifiInfo"/>
      </feature>
    </config-file>

    <source-file src="src/android/WifiInfo.java" target-dir="src/com/wifi/plugin/"/>
  </platform>

</plugin>